# Build directories
/build/
/out/
/cmake-build-*/

# CMake artifacts
CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/
*.cmake.user

# Binaries
*.exe
*.dll
*.so
*.dylib

# Qt
*.qrc.depends

# VS
.vs/

# Resource heavy
*.ico