/* StatusBar */

#StatusBar {
    background: #000000;
    border-top: 1px solid #1a1a1a;
}

#StatusBarLabel {
    background: transparent;
    color: #444444;
    font-size: 11px;
}

#StatusBarActiveLabel {
    background: transparent;
    color: #555555;
    font-size: 11px;
}

#StatusBarProgress {
    background: #0a0a0a;
    border: 1px solid #1a1a1a;
    border-radius: 2px;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
}

#StatusBarProgress::chunk {
    background: #2a4a2a;
    border-radius: 1px;
}
